body{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #222;
  background-color: #d3d3d3;
  font-family: verdana;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.winner {
  font-size: 150px;
}

.img {
  width: 550px;
  margin: 0 auto;
  height: 300px;
}

.img img {
  width: 100%;
  height: 100%;
  border: #222 2px solid;
  border-radius: 25px;
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

a {
  width: 90px;
  text-decoration: none;
}

.button{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-87:active {
  transform: scale(0.95);
}

.car {
  padding: 130px;
  margin: 20px 150px;
  border-radius: 25px;
  border-top: red solid;
  border-bottom: #F09819 solid;
  border-left: blue solid;
  border-right: green solid;
  cursor: pointer;
}

.bike {
  background-image: url('../public/img/bikeGreen.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bike2 {
  background-image: url('../public/img/bikeOrange.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bike3 {
  background-image: url('../public/img/bikeRed.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bike4 {
  background-image: url('../public/img/bikeGold.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.skate {
  background-image: url('../public/img/skateBlack.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.skate2 {
  background-image: url('../public/img/skatePruple.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.skate3 {
  background-image: url('../public/img/skateRed.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.skate4 {
  background-image: url('../public/img/skateGreen.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.ball {
  background-image: url('../public/img/ballOrange.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.ball2 {
  background-image: url('../public/img/ballGreen.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.ball3 {
  background-image: url('../public/img/ballBlue.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.ball4 {
  background-image: url('../public/img/ballPruple.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.car1 {
  background-image: url('../public/img/starPink.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.car2 {
  background-image: url('../public/img/starBlue.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.car3 {
  background-image: url('../public/img/starYellow.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.car4 {
  background-image: url('../public/img/starRed.jpg');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.points {
  color: green;
}

/* responsividade */

@media (max-width: 525px) {

  .img {
    width: 350px;
    height: 200px;
  }

  h1 {
    font-size: 55px;
  }
  
  }

@media (max-width: 400px) {

.img {
  width: 250px;
  height: 150px;
}

h1 {
  font-size: 40px;
}

}